/*
 * $Id$
 */

/*
 *    QPM - QAC based Project Manager
 *
 *    Copyright 2011-2019 Fernando Yurisich <fernando.yurisich@gmail.com>
 *    https://qpm.sourceforge.io/
 *
 *    Based on QAC - Project Manager for (x)Harbour
 *    Copyright 2006-2011 Carozo de Quilmes <CarozoDeQuilmes@gmail.com>
 *    http://www.CarozoDeQuilmes.com.ar
 *
 *    This program is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    This program is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

US_EditPrint        BITMAP     .\Recursos\US_EditPrint.BMP
US_EditPreview      BITMAP     .\Recursos\US_EditPreview.BMP
US_EditCopy         BITMAP     .\Recursos\US_EditCopy.BMP
US_EditPaste        BITMAP     .\Recursos\US_EditPaste.BMP
US_EditCut          BITMAP     .\Recursos\US_EditCut.BMP
US_EditDelete       BITMAP     .\Recursos\US_EditDelete.BMP
US_EditUndo         BITMAP     .\Recursos\US_EditUndo.BMP
US_EditRedo         BITMAP     .\Recursos\US_EditRedo.BMP
US_EditFind         BITMAP     .\Recursos\US_EditFind.BMP
US_EditBold         BITMAP     .\Recursos\US_EditBold.BMP
US_EditItalic       BITMAP     .\Recursos\US_EditItalic.BMP
US_EditUnderLine    BITMAP     .\Recursos\US_EditUnderLine.BMP
US_EditStrikeOut    BITMAP     .\Recursos\US_EditStrikeOut.BMP
US_EditLeft         BITMAP     .\Recursos\US_EditLeft.BMP
US_EditCenter       BITMAP     .\Recursos\US_EditCenter.BMP
US_EditRight        BITMAP     .\Recursos\US_EditRight.BMP
US_EditColor        BITMAP     .\Recursos\US_EditColor.BMP
US_EditVinetas      BITMAP     .\Recursos\US_EditVinetas.BMP
US_EditTabOn        BITMAP     .\Recursos\US_EditTabOn.BMP
US_EditTabOff       BITMAP     .\Recursos\US_EditTabOff.BMP

/* eof */
