/*
 *    QPM - QAC based Project Manager
 *
 *    Copyright 2011-2021 Fernando Yurisich <qpm-users@lists.sourceforge.net>
 *    https://teamqpm.github.io/
 *
 *    Based on QAC - Project Manager for (x)Harbour
 *    Copyright 2006-2011 Carozo de Quilmes <CarozoDeQuilmes@gmail.com>
 *    http://www.CarozoDeQuilmes.com.ar
 *
 *    This program is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    This program is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

#include "QPM_version.ch"

1 VERSIONINFO
FILEVERSION QPM_VERSION_VERSION_INFO
PRODUCTVERSION QPM_VERSION_VERSION_INFO
BEGIN
   BLOCK "StringFileInfo"
   BEGIN
      BLOCK "040904B0"  /* LANGUAGE: US English (0x0409), ENCODING: Unicode (1200/0x04B0) */
      BEGIN
   		VALUE "FileDescription", "QPM - QAC based project manager\000"
   		VALUE "FileVersion", QPM_VERSION_STRINGF_INFO
   		VALUE "InternalName", "QPM\000"
   		VALUE "LegalCopyright", " © 2011-2021 Fernando Yurisich\000"
   		VALUE "LegalTrademarks", "Harbour, QAC, MiniGUI\000"
   		VALUE "OriginalFilename", "QPM.exe\000"
   		VALUE "CompanyName", "QPM Development Team\000"
   		VALUE "ProductName", "QPM\000"
   		VALUE "ProductVersion", QPM_VERSION_STRINGF_INFO
   		VALUE "Comments", "<qpm-users@lists.sourceforge.net>\000"
      END
   END
   BLOCK "VarFileInfo"
   BEGIN
      VALUE "Translation", 0x0409, 0x04B0  /* LANGUAGE: US English (0x0409), ENCODING: Unicode (1200/0x04B0) */
   END
END

1 24 "Windows10.Manifest"

#include "QPM_Resources.ch"

/* eof */
